extends layout

block body
	div
		input(type='text', id='nameInput')
		input(type='button', onclick='searchClicked()', value='Search')
		span Defaults to Bill Murry if nothing is entered
	br
	div(id='displayList')