!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Programming Test
    link(rel='stylesheet', href='/css/app.css')
    script(src='js/lib/angular/angular.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/handlers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='//code.jquery.com/jquery-1.10.2.min.js')
  body
    block body